<!DOCTYPE html>
<html>
<head>
    <link  rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
    <!-- Header Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 bg-secondary d-none d-lg-block">
                <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <img src="static/loog-grupo-spri.png" width="300px" height="100px">
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row bg-white border-bottom d-none d-lg-flex">
                    <div class="col-lg-7 text-left">
                        <div class="h-100 d-inline-flex align-items-center py-2 px-3">
                            <i class="fa fa-envelope text-primary mr-2"></i>
                            <small>Paula Arnaiz Cuenca</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-phone-alt text-primary mr-2"></i>
                            <small>Izaskun Benegas Moreno</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-phone-alt text-primary mr-2"></i>
                            <small>Iker Benito de la Hera</small>
                        </div>
                    </div>
                    <div class="col-lg-7 text-md-left">
                        <div class="h-100 d-inline-flex align-items-center py-2 px-3">
                            <i class="fa fa-envelope text-primary mr-2"></i>
                            <small>Unai Martinez Leal</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-phone-alt text-primary mr-2"></i>
                            <small>Libe Xiang Galdos Alberdi</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-phone-alt text-primary mr-2"></i>
                            <small>Aitor Fernandez</small>
                        </div>
                    </div>
                    <div class="col-lg-5 text-right">
                        <img src="static/logo_mu.png" width="67px" height="50px">
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
                    <a href="index.html" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 display-4 text-primary text-uppercase">Justice</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="{{url_for('explvalidacion')}}" class="nav-item nav-link">Modelo de validación</a>
                            <a href="{{url_for('expladquisicion')}}" class="nav-item nav-link">Modelo de adquisición</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
    <!-- Navbar End -->
<content>
    {%block cuerpo%}
    
    {%endblock%}
</content>
     <!-- Footer Start -->
     <footer>
     <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize font-italic text-white"><span class="text-primary">Grupo</span>Spri</h1>
                <p class="m-0">El grupo “spri” es la entidad del Departamento de Desarrollo Económico, Sostenibilidad y Medio Ambiente del Gobierno Vasco. Esta entidad trabaja junto a empresas para facilitar el acceso a la digitalización, ciberseguridad e iniciarlas. Buscan una forma de expandir el negocio de sus clientes a otros países o a buscar espacios físicos, pabellones u oficinas, en los que instalarles.</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Links Populares</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="https://www.spri.eus/es/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-white mb-2" href="https://www.spri.eus/es/quienes-somos/"><i class="fa fa-angle-right mr-2"></i>Somos</a>
                            <a class="text-white mb-2" href="https://www.google.es/maps/place/SPRI.+Agencia+vasca+de+desarrollo+empresarial/@43.2606151,-2.9390933,17z/data=!3m1!4b1!4m6!3m5!1s0xd4e4fd7d1270489:0x72b3c7d27757d1b3!8m2!3d43.2606151!4d-2.9369046!16s%2Fg%2F1tl8m04n?hl=es"><i class="fa fa-angle-right mr-2"></i>Donde estamos</a>
                            <a class="text-white" href="https://www.spri.eus/es/servicio-de-atencion-al-cliente/"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Contactanos</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Edificio Plaza Bizkaia Alameda Urquijo, 36 - 4ª Planta, 48011 Bilbao, Bizkaia</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>944 03 70 00</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@spri.eus</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed by
                    <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="https://agenda.spri.eus/es/">Agenda</a>

                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="https://www.spri.eus/es/faq/">FAQs</a>
                </ul>
            </div>
        </div>
    </div>
</footer>
    <!-- Footer End -->   
</body>
</html>