{%extends "layout2.html"%}
{%block cuerpo%}

<form action="{{url_for('manualval')}}" method="POST" class="my-form-class">
<h1>Ingresa los siguientes datos:</h1>

<form action="{{url_for('manualval')}}" method="POST">
    <div class="overlay text-white text-center" >
        <div class="options">
    {% for colum in columnas %}

    <input type="number" name="{{ colum }}" placeholder="{{ colum }}" required><br>
<br>
    {% endfor %}
</div>
    <input type="submit" value="Enviar">
</div>
  </form>

{%endblock%}
