{%extends "layout2.html"%}


{%block cuerpo%} 


 
    <div class="overlay text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3><strong> Las empresas que cumplen los requisitos son:</strong></h3><br>

        <table id = table style=  "margin: 0 auto" "text-align: center;" border = 1px width = 70% >
            <tr>
                <th>B2B or B2C</th>
                <th>Startup</th>
            </tr>
            <tr >
                <td >{{b2b_b2c}}</td>
                <td >{{startup}}</td>
            </tr>

        </table><br>
        <a class="btn btn-lg btn-primary" href = "{{url_for('empresad')}}">Nueva búsqueda</a><br>
    </div>
    <br>
    <br>
    <div class="overlay text-center">
<form action ="{{url_for('resultempresad')}}" method="POST">
    <label for = "empresad" ><h2><strong> Seleccione el nombre de la empresa:</strong></h2></label>
    <select name="empresad" class="form-control form-control-lg custom-form-control">
    {% for row in row_datad %}
    <option value="{{ row }}" class="form-control form-control-lg custom-form-control">{{ row }}</option>
    {% endfor %}
    </select><br>
    <input type="submit" value="Realizar predicción" class="btn btn-lg btn-primary">
</form>
</div>
<br>
<br>
<br>    
<br>
<br>
<br>  
{%endblock%} 